.container {
	width: 900px;
	hieght: auto;
	color: black;
}

.header {
	height: 120px;
	width: auto;
	background-color: black;
}

.logo {
	widows: 900px;
	Padding: 20px;
	margin: 20px;
	width: 100px;
	height: 	auto;
}

